a {
  text-decoration: none;
  color: var(--vscode-charts-green);
}

a:hover {
  text-decoration: underline;
  color: var(--vscode-charts-green);
}

p,
ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p {
  line-height: 1.7em;
  margin-bottom: 1.5;
}

body {
  color: var(--vscode-editorOverviewRuler-bracketMatchForeground);
}

.className {
  font-size: 1.5em;
  font-weight: bold;
}

.help_breadcrumbs {
  padding-top: 0.5em;
}
.hierarchy,
.className {
  padding-bottom: 1em;
}

.hierarchy > div:nth-child(2) {
  padding-left: 1em;
}

.hierarchy > div:nth-child(3) {
  padding-left: 2em;
}

.hierarchy > div:nth-child(4) {
  padding-left: 3em;
}

.hierarchy > div:nth-child(5) {
  padding-left: 4em;
}

.hierarchy > div:nth-child(6) {
  padding-left: 5em;
}

.classSummary {
  padding-left: 1em;
}

.classSummaryDetail .subclass {
  padding-top: 1em;
}

.section .header {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
  border-bottom: 1px solid;
}

.section .subHeader {
  font-weight: bold;
  margin: 0.5em;
}
.section .summaryItem > span {
  font-weight: bold;
}

.section .summaryItem {
  padding-left: 1em;
}

.section .summaryItem .description {
  padding-left: 1em;
  padding: 0.5em 0 0.5em 1em;
  font-weight: normal;
}

.detailItem .description,
.detailItem .parameters {
  padding: 0.5em 0 0.5em 1em;
}

.detailSignature {
  padding: 5px;
  border-radius: 2px;
}

.detailSignature .emphasis {
  font-weight: bold;
}

.detailSignature {
  background: var(--vscode-editor-hoverHighlightBackground);
}
.parameterTitle {
  font-weight: bold;
}

.parameterDetail {
  padding-left: 0.5em;
}

.parameterName {
  font-style: italic;
}

h1,
h2,
h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h4,
h5,
h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.pre.codeblock {
  border-radius: 0.5em;
  overflow-x: auto;

  color: var(--vscode-symbolIcon-variableForeground);
  background: var(--vscode-textCodeBlock-background);
  font-family: var(--vscode-editor-font-family);
  padding: 1em;
  border: 1px var(--vscode-textCodeBlock-background) solid;
  transition: 200ms;
  position: relative;
}

.pre.codeblock:hover {
  border: 1px var(--vscode-focusBorder) solid;
}

.copy-code-btn {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  display: block;
  padding: 0.2em 0.5em;
  border-radius: 3px;
  color: var(--vscode-tab-inactiveForeground);
  background-color: var(--vscode-tab-inactiveBackground);
  cursor: pointer;
}

.copy-code-btn:hover {
  color: var(--vscode-button-hoverForeground);
  background-color: var(--vscode-button-hoverBackground);
}

.pre.codeblock code {
  display: block;
  background: none;
  cursor: text;
}

.pre.codeblock code:hover {
  border: none;
  cursor: default;
  padding: 0;
}

code {
  color: var(--vscode-symbolIcon-stringForeground);
  background: var(--vscode-textCodeBlock-background);
  font-family: var(--vscode-editor-font-family);
  display: inline-block;
  padding: 1px 5px;
  transition: all;
}

code:hover {
  border: 1px dashed var(--vscode-button-hoverBackground);
  cursor: pointer;
  padding: 0px 4px;
}
